Repository ThD-Rizer/ThD-vue-ui-framework: changes, and which lint-staged commands are due for each by the changed paths.
All: vue-cli-service lint, stylelint --ignore-path .gitignore

.lintstagedrc.json:

{
  "*.{js,vue}": [
    "vue-cli-service lint"
  ],
  "*.{css,vue}": [
    "stylelint --ignore-path .gitignore"
  ],
  "*": [
    "git add"
  ]
}

Release/0.27.6
  CHANGELOG.md
  README.md
  package.json
  src/utils/downloadFileToBrowser.js
  yarn.lock
Due: vue-cli-service lint

wip
  CHANGELOG.md
  README.md
  package.json
  src/lib.js
  src/utils/index.js
  src/utils/swapArrayElements.js
Due: vue-cli-service lint

wip
  CHANGELOG.md
  README.md
  package.json
  src/components/UiButton/options.js
  src/components/UiRow/UiRow.js
  src/mixins/flexible/index.js
  src/utils/index.js
  src/utils/isEven.js
  src/utils/isOdd.js
Due: vue-cli-service lint

wip
  CHANGELOG.md
  package.json
  src/components/UiSuspense/constants.js
  src/constants/index.js
  src/utils/index.js
  src/utils/logger/constants.js
  src/utils/reverseArray.js
  tests/UiCheckbox.test.js
  tests/utils/reverseArray.test.js
Due: vue-cli-service lint

Update package.json
  package.json
Due: none

Release/0.27.9
  CHANGELOG.md
  package.json
  src/components/UiSuspense/constants.js
  src/constants/index.js
  src/utils/index.js
  src/utils/logger/constants.js
  src/utils/reverseArray.js
  tests/UiCheckbox.test.js
  tests/utils/reverseArray.test.js
Due: vue-cli-service lint

wip
  .gitignore
  CHANGELOG.md
  CONTRIBUTING.md
  README.md
  src/components/UiSelect/UiSelect.js
  src/utils/date/convertDateToObject.js
  src/utils/date/convertObjectToDate.js
  src/utils/date/differenceInCalendarDays.js
  src/utils/date/differenceInDays.js
  src/utils/date/formatDate.js
  src/utils/date/getHours.js
  src/utils/date/getMinutes.js
  src/utils/date/getUnixTime.js
  src/utils/date/index.js
  src/utils/date/isAfterDate.js
  src/utils/date/isBeforeDate.js
  src/utils/date/isDate.js
  src/utils/date/isEqualDate.js
  src/utils/date/isSameDay.js
  src/utils/date/isValidDate.js
  src/utils/date/parseDate.js
  src/utils/date/resetDateTimes.js
  src/utils/date/setDate.js
  src/utils/date/subDate.js
  src/utils/date/toDate.js
  src/utils/formatBytes.js
  src/utils/index.js
  src/utils/swapArrayElements.js
  yarn.lock
Due: vue-cli-service lint

wip
  .eslintrc.js
  CHANGELOG.md
  README.md
  demo/pages/Tables.vue
  demo/router/routes.js
  package.json
  src/components/UiTable/README.md
  src/components/UiTable/UiTable.js
  src/components/UiTable/index.js
  src/components/UiTableCell/README.md
  src/components/UiTableCell/UiTableCell.js
  src/components/UiTableCell/index.js
  src/components/UiTableColumn/README.md
  src/components/UiTableColumn/UiTableColumn.js
  src/components/UiTableColumn/index.js
  src/components/UiTableRow/README.md
  src/components/UiTableRow/UiTableRow.js
  src/components/UiTableRow/index.js
  src/components/index.js
  src/utils/index.js
  src/utils/orderBy.js
Due: vue-cli-service lint, stylelint --ignore-path .gitignore

Update UiTableColumn.js
  src/components/UiTableColumn/UiTableColumn.js
Due: vue-cli-service lint

wip
  src/components/UiTableCell/UiTableCell.js
  src/components/UiTableColumn/UiTableColumn.js
  src/components/UiTableRow/UiTableRow.js
Due: vue-cli-service lint

wip
  src/components/UiTable/UiTable.js
  src/components/UiTableCell/UiTableCell.js
  src/components/UiTableColumn/UiTableColumn.js
  src/components/UiTableRow/UiTableRow.js
Due: vue-cli-service lint

wip
  demo/pages/Tables.vue
  src/components/UiTable/README.md
  src/components/UiTable/UiTable.js
  src/components/UiTable/UiTable.scss
Due: vue-cli-service lint, stylelint --ignore-path .gitignore

wip
  CHANGELOG.md
  README.md
  package.json
  src/utils/logger/LogModel.js
  src/utils/logger/README.md
Due: vue-cli-service lint

Update trimRight.js
  src/utils/trimRight.js
Due: vue-cli-service lint
