Repository ThD-Rizer/ThD-vue-ui-framework: changes, and which lint-staged commands are due for each by the changed paths.
All: vue-cli-service lint, stylelint --ignore-path .gitignore

Release/0.26.4
  CHANGELOG.md
  README.md
  demo/index.js
  demo/pages/Testing.vue
  demo/styles/UiInput.scss
  package.json
  src/components/UiButton/UiButton.scss
  src/components/UiButton/UiButton.themeLink.scss
  src/components/UiContainer/UiContainer.scss
  src/components/UiDrawer/UiDrawer.scss
  src/components/UiInput/UiInput.js
  src/components/UiLink/UiLink.js
  src/components/UiLink/UiLink.scss
  src/components/UiOverlay/UiOverlay.scss
  src/components/UiPreloader/UiPreloader.scss
  src/components/UiText/UiText.js
  src/components/UiText/UiText.scss
  src/components/UiTextarea/UiTextarea.scss
  src/mixins/stylable/README.md
  src/mixins/stylable/index.js
  src/styles/variables/typography.scss
  src/utils/factoryComponentPlugin.js
Due: vue-cli-service lint, stylelint --ignore-path .gitignore

Merge branch 'master' into release/0.27.0
  .lintstagedrc.json
  CHANGELOG.md
  demo/index.js
  demo/pages/Testing.vue
  demo/styles/UiButton.scss
  demo/styles/UiInput.scss
  package.json
  src/components/UiButton/UiButton.js
  src/components/UiButton/UiButton.scss
  src/components/UiButton/UiButton.themeLink.scss
  src/components/UiContainer/UiContainer.scss
  src/components/UiDrawer/UiDrawer.scss
  src/components/UiInput/UiInput.js
  src/components/UiLink/UiLink.js
  src/components/UiLink/UiLink.scss
  src/components/UiMarkdownViewer/UiMarkdownViewer.scss
  src/components/UiOverlay/UiOverlay.scss
  src/components/UiPreloader/UiPreloader.scss
  src/components/UiText/UiText.js
  src/components/UiText/UiText.scss
  src/components/UiTextarea/UiTextarea.scss
  src/mixins/stylable/README.md
  src/mixins/stylable/index.js
  src/styles/fonts.scss
  src/styles/mixins.scss
  src/styles/utils/README.md
  src/styles/utils/text.scss
  src/styles/variables.scss
  src/styles/variables/typography.scss
  src/utils/factoryComponentPlugin.js
  stylelint.config.js
  yarn.lock
Due: vue-cli-service lint, stylelint --ignore-path .gitignore

wip
  .eslintrc.js
  babel.config.js
  demo/configUiStyles.js
  demo/index.js
  demo/pages/Checkboxes.vue
  demo/styles/UiButton.themeCool.scss
  jest.config.js
  package.json
  src/components/UiCheckbox/UiCheckbox.js
  src/components/UiCheckbox/UiCheckbox.scss
  src/components/UiCheckboxGroup/UiCheckboxGroup.scss
  src/components/UiInput/UiInput.scss
  tests/UiCheckbox.test.js
  vue.config.js
  yarn.lock
Due: vue-cli-service lint, stylelint --ignore-path .gitignore

Update package.json
  package.json
Due: none

wip
  CHANGELOG.md
  demo/App.vue
  demo/components/UiHeading.vue
  demo/pages/Checkboxes.vue
  demo/pages/Testing.vue
  src/components/UiCheckbox/UiCheckbox.js
  src/components/UiCheckbox/UiCheckbox.scss
  src/components/UiCheckboxGroup/UiCheckboxGroup.js
  src/components/UiInput/UiInput.js
  src/components/UiRadio/UiRadio.js
  src/components/UiRadioGroup/UiRadioGroup.js
  src/components/UiTextarea/UiTextarea.js
  src/mixins/injectable/README.md
  src/mixins/injectable/index.js
  src/mixins/providable/README.md
  src/mixins/providable/index.js
  src/utils/errors/DataInjectionError.js
  src/utils/errors/index.js
  src/utils/inspect/index.js
  src/utils/inspect/isEmptyObject.js
  src/utils/inspect/isEqual.js
Due: vue-cli-service lint, stylelint --ignore-path .gitignore

Update CHANGELOG.md
  CHANGELOG.md
Due: none

Update UiTextarea.scss
  src/components/UiTextarea/UiTextarea.scss
Due: none

wip
  CHANGELOG.md
  demo/App.vue
  demo/styles/UiInput.scss
  package.json
  tests/UiCheckbox.test.js
  yarn.lock
Due: vue-cli-service lint, stylelint --ignore-path .gitignore

wip
  CHANGELOG.md
  README.md
  package.json
Due: none

wip
  src/components/UiApp/UiApp.js
  src/directives/clickOutside/index.js
  src/directives/qa/index.js
  src/framework/registerPlugin.js
  src/install/frameworkPlugin.js
  src/utils/errors/BaseError.js
  src/utils/errors/ComponentInjectionError.js
  src/utils/errors/DataInjectionError.js
  src/utils/errors/InvalidOptionValueError.js
  src/utils/errors/InvalidTypeError.js
  src/utils/errors/index.js
  src/utils/logger/Logger.js
Due: vue-cli-service lint

wip
  CHANGELOG.md
  README.md
  package.json
  src/components/UiIcon/UiIcon.js
  src/install/componentsPlugin.js
  src/utils/factoryComponentPlugin.js
Due: vue-cli-service lint

wip
  demo/configIcons.js
  demo/index.js
  demo/pages/Testing.vue
  src/install/componentsPlugin.js
Due: vue-cli-service lint, stylelint --ignore-path .gitignore

Update componentsPlugin.js
  src/install/componentsPlugin.js
Due: vue-cli-service lint

Update Logger.js
  src/utils/logger/Logger.js
Due: vue-cli-service lint

wip
  CHANGELOG.md
  README.md
  demo/pages/Selects.vue
  demo/router/routes.js
  src/components/UiRadioGroup/UiRadioGroup.scss
  src/components/UiSelect/README.md
  src/components/UiSelect/UiSelect.js
  src/components/UiSelect/UiSelect.scss
  src/components/UiSelect/index.js
  src/components/index.js
  src/styles/mixins.scss
  src/utils/errors/InvalidTypeError.js
  src/utils/index.js
  src/utils/isEven.js
  src/utils/isOdd.js
  src/utils/logger/LogModel.js
Due: vue-cli-service lint, stylelint --ignore-path .gitignore

wip
  CHANGELOG.md
  README.md
  package.json
  src/styles/mixins.scss
Due: none

Release/0.27.2
  CHANGELOG.md
  README.md
  package.json
  src/styles/mixins.scss
Due: none

wip
  CHANGELOG.md
  README.md
  package.json
  src/utils/styles/getScssVariable.js
  src/utils/styles/getScssVariableByMap.js
  src/utils/styles/getScssVariablesMap.js
Due: vue-cli-service lint

Release/0.27.3
  CHANGELOG.md
  README.md
  package.json
  src/utils/styles/getScssVariable.js
  src/utils/styles/getScssVariableByMap.js
  src/utils/styles/getScssVariablesMap.js
Due: vue-cli-service lint

wip
  CHANGELOG.md
  README.md
  package.json
  src/components/UiCol/UiCol.js
  src/components/UiRow/UiRow.js
  src/components/UiText/UiText.js
  src/constants/grid.js
  src/constants/index.js
  src/constants/styles.js
  src/directives/index.js
  src/directives/qa/README.md
  src/directives/qa/index.js
  src/mixins/flexible/index.js
  src/styles/export.scss
  src/utils/helpers/factoryComponentPlugin.js
  src/utils/styles/createScssVariablesDictionary.js
  src/utils/styles/getScssVariable.js
  src/utils/styles/getScssVariableByMap.js
  src/utils/styles/getScssVariablesMap.js
  src/utils/styles/index.js
Due: vue-cli-service lint

wip
  CHANGELOG.md
  src/lib.js
  src/styles/export.scss
  src/utils/styles/createScssVariablesDictionary.js
  src/utils/styles/getScssVariableByMap.js
  src/utils/styles/getScssVariablesMap.js
Due: vue-cli-service lint

wip
  CHANGELOG.md
  README.md
  package.json
  postcss.config.js
  src/framework/index.js
  src/utils/helpers/getSlot.js
  src/utils/logger/constants.js
  src/utils/validators/isValidDate.js
  vue.config.js
  yarn.lock
Due: vue-cli-service lint

wip
  package.json
  src/utils/logger/LogModel.js
  src/utils/logger/Logger.js
  src/utils/logger/constants.js
  yarn.lock
Due: vue-cli-service lint

wip
  CHANGELOG.md
  builders/icons/index.js
  src/utils/inspect/index.js
  src/utils/inspect/isInteger.js
  src/utils/logger/LogModel.js
  src/utils/logger/Logger.js
  src/utils/logger/constants.js
  src/utils/logger/index.js
  src/utils/logger/prepareError.js
Due: vue-cli-service lint

wip
  CHANGELOG.md
  src/utils/errors/FrameworkError.js
  src/utils/errors/InvalidTypeError.js
  src/utils/freezeDeep.js
  src/utils/index.js
  src/utils/inspect/index.js
  src/utils/inspect/isElement.js
  src/utils/inspect/isSymbol.js
  src/utils/logger/LogModel.js
  src/utils/logger/Logger.js
  src/utils/logger/README.md
  src/utils/logger/constants.js
  src/utils/logger/prepareError.js
  src/utils/removeDomElement.js
Due: vue-cli-service lint

wip
  demo/App.vue
  package.json
  src/utils/logger/Logger.js
  tests/Logger.test.js
Due: vue-cli-service lint, stylelint --ignore-path .gitignore

Update getSlot.js
  src/utils/helpers/getSlot.js
Due: vue-cli-service lint

fixes logger
  src/utils/logger/LogModel.js
  src/utils/logger/Logger.js
Due: vue-cli-service lint

wip
  demo/App.vue
  demo/pages/Logger.vue
  demo/router/routes.js
  package.json
  src/utils/archiveFilesToZip.js
  src/utils/downloadFile.js
  src/utils/downloadFileToBrowser.js
  src/utils/index.js
  src/utils/logger/LogModel.js
  src/utils/logger/isLoggerInstance.js
  yarn.lock
Due: vue-cli-service lint, stylelint --ignore-path .gitignore

Update downloadFileToBrowser.js
  src/utils/downloadFileToBrowser.js
Due: vue-cli-service lint

wip
  CHANGELOG.md
  demo/App.vue
  src/install/globalStyles.js
  src/utils/logger/LogModel.js
  src/utils/logger/Logger.js
  src/utils/logger/isLoggerInstance.js
  tests/Logger.test.js
Due: vue-cli-service lint, stylelint --ignore-path .gitignore

Release/0.27.5
  CHANGELOG.md
  README.md
  builders/icons/index.js
  demo/App.vue
  demo/pages/Logger.vue
  demo/router/routes.js
  package.json
  postcss.config.js
  src/framework/index.js
  src/install/globalStyles.js
  src/utils/archiveFilesToZip.js
  src/utils/downloadFile.js
  src/utils/downloadFileToBrowser.js
  src/utils/errors/FrameworkError.js
  src/utils/errors/InvalidTypeError.js
  src/utils/freezeDeep.js
  src/utils/helpers/getSlot.js
  src/utils/index.js
  src/utils/inspect/index.js
  src/utils/inspect/isElement.js
  src/utils/inspect/isInteger.js
  src/utils/inspect/isSymbol.js
  src/utils/logger/LogModel.js
  src/utils/logger/Logger.js
  src/utils/logger/README.md
  src/utils/logger/constants.js
  src/utils/logger/index.js
  src/utils/logger/prepareError.js
  src/utils/removeDomElement.js
  src/utils/validators/isValidDate.js
  vue.config.js
  yarn.lock
Due: vue-cli-service lint, stylelint --ignore-path .gitignore

wip
  CHANGELOG.md
  README.md
  package.json
  src/utils/downloadFileToBrowser.js
  yarn.lock
Due: vue-cli-service lint

Update yarn.lock
  yarn.lock
Due: none

Path conditions:
  vue-cli-service lint: any of: *.{js,vue}
  stylelint --ignore-path .gitignore: any of: *.{css,vue}
